:root {
  --dark: rgba(30, 30, 36, 1);
  --light: rgba(219, 219, 219, 1);
  --icon-size: 32px;
  --large-font: 20px;
  --normal-font: 16px;
  --small-font: 12px;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1160px;
  line-height: 1.5;
  color: var(--dark);
  padding: 32px 0;
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.main > section {
  flex: 50%;
  max-width: 50%;
  margin-bottom: 32px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.portrait {
  width: 400px;
  height: 400px;
  max-width: 50vw;
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  font-size: var(--icon-size);
}

section {
  padding: 0 24px;
  box-sizing: border-box;
}

.section-title {
  font-size: var(--large-font);
  margin-bottom: 8px;
}

.section-item {
  margin-bottom: 16px;
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-table {
  display: flex;
  flex-wrap: wrap;
}

.personal-table > div {
  flex: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.personal-table > div:nth-child(odd) {
  text-align: right;
}

.find-me-table {
  display: flex;
  margin: 16px 0;
}

.find-me-table > div {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

a > span.fab {
  color: var(--dark);
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.skill-section {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill-section > span:first-child {
  width: 40px;
  margin-bottom: 16px;
}

.skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.certificate {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.certificate-icon {
  width: 40px;
  margin-right: 8px;
}

.item-title {
  font-size: var(--large-font);
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 16px;
}

.expand-details {
  text-align: center;
  font-size: var(--large-font);
}

.section-item details {
  margin-bottom: 24px;
}

.section-item .details {
  display: flex;
  flex-wrap: wrap;
}

.section-item .details > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-item .description {
  margin-top: 8px;
}

.section-item .description > p {
  margin: 4px 0;
}

.company {
  font-size: var(--normal-font);
  font-weight: lighter;
}

.description, .where, .when {
  font-size: var(--small-font);
}

.description b {
  font-size: 1.2em;
}

.other {
  display: flex;
}

.other {
  justify-content: space-around;
}

.activity-item > .icon {
  margin-right: 8px;
  width: 40px;
  text-align: center;
}

.activity-item {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

@media(max-width: 880px) {
  .main > section {
    flex: 100%;
    max-width: 100%;
    margin: 32px 0;
  }

  .main > section.title {
    margin: 0;
  }

  .main > section.personal {
    margin-top: 0;
  }

  .section-title {
    text-align: center;
  }

  summary {
    position: relative;
  }

  summary > .expand-details {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
  }

  .activity-group {
    flex: 1;
  }
}

summary::-webkit-details-marker {
  display: none
}

summary {
  cursor: pointer;
}

summary:focus {
  outline: none;
}
