/* Coolors Exported Palette - coolors.co/eeeeee-1e1e24-881600-09bc8a-f15025 */

/* HSL */
$light: hsla(0%, 0%, 93%, 1);
$dark: hsla(240%, 9%, 13%, 1);
$color1: hsla(10%, 100%, 27%, 1);
$color2: hsla(163%, 91%, 39%, 1);
// $color5: hsla(13%, 88%, 55%, 1);

/* RGB */
$light: rgba(238, 238, 238, 1);
$dark: rgba(30, 30, 36, 1);
$color1: rgba(136, 22, 0, 1);
$color2: rgba(9, 188, 138, 1);
// $color5: rgba(241, 80, 37, 1);