@import 'palette.scss';

// Component Styles
@import 'components/Portrait';
@import 'components/TextCard';

// Page Styles
@import 'pages/MainInfo';
@import 'pages/Start';


body {
  background: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
		<text y="1em" font-size="2em" opacity="0.1"></text>\
  </svg>\
  ') $dark 0 0 / 5em;
  color: $light;
}

.app {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
}