@import 'palette.scss';

// Component Styles
@import 'StartCard.scss';

body {
  background: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
		<text y="1em" font-size="2em" opacity="0.1">❄️</text>\
  </svg>\
  ') $dark 0 0 / 5em;
  color: $light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
